@charset "utf-8";

html {
    font-size: 10px;
}

body {
    font: 1.5rem/1.8 'Noto Sans KR', sans-serif;
    color: #000;
}

.logo {
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 4px;
    font-family: 'Caveat', cursive;
}

h2, h3,nav li{
    font-family: 'Caveat', cursive;
}

h2 {
    font-size: 2.4rem;
    font-weight: 400;
}

h3,nav li {
    font-size: 1.8rem;
}

a {
    color: #000;
    text-decoration: none;
}

#main_img h2 {
    font-size: 5.8rem;
}

/* 섹션3 */

#event li p:first-of-type{
    color: #999;
}

/* 푸터 */
footer{
    color: #555;
}