@charset "utf-8";
/* reset */
*{
    margin: 0;
    padding: 0;
}
/* border */
section,footer,section li,#main_img h2{
    border: 1px solid black;
}

header:not(nav){
    border: 1px solid black;
}

img{
    border-bottom: 1px solid black;
}

#menu img{
    border: 1px solid black;
}

#menu li{
    border: none;
}

#news img{
    margin-bottom: 10px;
    border-top: 1px solid #000;
}

section,ul,section li{
    border-bottom: none;
}

#menu, #main_img{
    border-top: none;
}

#menu .lineL{border-left: none;}

#menu .lineR{border-right: none;}

li:nth-of-type(1){
    border-left: none;
}
li:nth-of-type(4){
    border-right: none;
}

a{
    color: #000;
}

/* 목록의 마커 제거 */
li{
    list-style: none;
}

/* header */
header{
    box-sizing: border-box;
    /* position: fixed; */
    /* top: 0; */
    /* z-index: 99; */
    /* width: 100%; */
    padding: 0 32px;
    height: 54px;
}

.logo{
    float: left;
}

nav{
    float: right;
}

nav li{
    display: inline-block;
    margin: 12px;


}
/* section common */
section{
    width: 1496px;
    margin: 0 auto;
}

.section{
    padding-top: 81px;
}

.section h2{
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
}

.section h2 + p{
    margin-bottom: 32px;
}

/* section 1 */
#main_img{
    position: relative;
}
#main_img h2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}
/* section 2,3 common */

section li{
    float: left;
    width: 362px;
}

section ul::after{
    content: '';
    clear: both;
    display: block;
}

#menu li:not(:nth-of-type(4n)){
    margin-right: 15.9px;
}

#event li:not(:nth-of-type(4n)){
    margin-right: 14px;
}

/* section 2 */

#menu li{
    position: relative;
}

#menu h3{
    position: absolute;
    padding: 5px;
    background: #000;
    color: #fff;
}

#menu h2{
    margin-bottom: 48px;
}

/* section 3 */

#event li h3{
    margin: 16px 0 8px;
}

#event li p{
    margin: 8px 0;
}

/* 이벤트 목록 버튼 디자인 */
#event li a{
    display: block;
    background: #ccc;
    text-align: center;
    padding: 8px 0;
}

/* section 4 */

input{
    width: 1484px;
    height: 36px;
    display: block;
    padding-left: 10px;
    margin-bottom: 16px;
    border: 1px solid #cecece;
}

/* botton style */
button{
    height: 36px;
    width: 160px;
    background: #000;
    border-style: none;
    color: #fff;
    margin-top: 16px;
    margin-bottom: 48px;
}

button:hover{
    background-color: #d7d7d7;
    color: #000;
}


/* footer */
footer{
    text-align: center;
    padding: 32px;
}