@charset "utf-8";
/* 공통 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    color: #000;
    text-decoration: none;
}

img{
    height: 100%;
}

/* header */
header{
    height: 54px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 3px 0.01px #000;
}

header ul{
    display: flex;
}

header h1{
    height: 100%;
}


/* section1 */
section{
    width: 1496px;
    margin: 0 auto;
}

.section{
    position: relative;
    top: 54px;
    display: flex;
    background: lightcyan;
}

.section div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.section li{
    margin: 10px 0;
    padding: 5px 0;
    background: lightblue;
    border-radius: 20px;
}

