@charset "utf-8";

/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

/* font-family: 'Grape Nuts', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

/* --- 기본 글씨체 설정 ---  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backpage a {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 25px;
    color: rgba(255, 0, 123, 0.8);
}

.logoimg1{
    position: absolute;
    top: 20%;
    right: 25%;
    height: 90px;
    width: 90px;
    border-radius: 50%;
background: #ff179e11;
}
.logoimg2{
    position: absolute;
    top: 45%;
    left: 28%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
background: #ff179e0f;
}
.logoimg3{
    position: absolute;
    top: 75%;
    left: 40%;
    height: 15px;
    width: 15px;
    border-radius: 50%;
background: #ff179e10;
}

main {
    padding: 20px;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 10px;
    overflow: hidden;
}

#header-div {
    position: relative;
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    font-family: 'Grape Nuts', sans-serif;
    padding: 60px 0 30px;
}

#main-div {
    height: 60vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    color: rgba(255, 0, 123, 0.8);
}

#main-div::-webkit-scrollbar {
    width: 5px;
}

#main-div::-webkit-scrollbar-thumb {
    height: 5%;
    background-color: rgba(104, 207, 211, 0);
    border-radius: 10px;
}

#main-div::-webkit-scrollbar-track {
    background-color: rgba(206, 206, 206, 0);
}

#input-box {
    font-size: 1.8rem;
    font-weight: 100;
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 10px;
    border: 1.5px solid rgba(255, 0, 123, 0.8);
    margin-bottom: 30px;
}

#input-box:focus {
    outline: none;
    transition: .3s;
    box-shadow: 0 3px 10px rgba(255, 0, 166, 0.2);
}

.todo-box {
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    margin: 5px 0;
    font-weight: 100;
    border-bottom: 1px solid #ff84b531;

}

.todo-box p:nth-child(2) {
    font-size: 2.5rem;
    font-weight: 800;
    color: rgba(206, 206, 206, 0.5);
}

.todo-box p:nth-child(2):hover {
    font-size: 2.5rem;
    color: rgb(255, 75, 75);
    transition: .8s;
    cursor: pointer;
}

.todo-text {
    padding-right: 20px;
}

#none-div {
    display: none;
}

/* 효과 */
.transition-start {
    padding-top: 1rem;
    opacity: 0;
}

.transition {
    padding-top: 0;
    opacity: .8;
    transition: all 1s;
}