@charset "utf-8";
@import url(typo.css);
@import url(reset.css);

header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 24px;
    line-height: 80px;
}

.main{
    display: flex;
}
.main li{
    padding: 0 16px;
}

.sub{
    display: none;
}

.login{
    display: flex;
}

.login li{
    padding: 0 8px;
}